github.com:
    user: rbutera
    git_protocol: ssh
    users:
        rbutera: {oauth_token: {{ onepasswordRead "op://dev/github_auth/credential"}}}
    oauth_token: {{ onepasswordRead "op://dev/github_auth/credential" }}
