[Unit]
Description=1Password
Requires=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/opt/1Password/1password --silent
Type=exec
TimeoutSec=60

[Install]
Alias=1password.service
WantedBy=graphical-session.target
