[Unit]
Description=Carla VST Host
After=pipewire.service pipewire-pulse.service
Wants=pipewire.service pipewire-pulse.service

[Service]
Type=simple
ExecStart=/usr/bin/carla ~/mic-with-vst.carxp --no-gui
Restart=on-failure

[Install]
WantedBy=default.target
