{{- $email := promptString "What's your git email address?" "rai@rbutera.com" }}
{{- $name := promptString "What's your git full name?" "Rai Butera" }}

[edit]
  command = "nvim"

[cd]
  command = "zsh"

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  {{- if eq .chezmoi.os "linux" }}
  {{ $wsl := hasSuffix "WSL2" .chezmoi.kernel.osrelease }}
  wsl = {{ $wsl }}
  {{ else }}
  wsl = false
  {{ end }}
