tap "adoptopenjdk/openjdk"
tap "github/gh"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
tap "jhawthorn/fzy"
tap "jzelinskie/duckdns"
tap "netlify/netlifyctl"
tap "sachaos/todoist"
tap "warrensbox/tap"
cask "adoptopenjdk8"
cask "basictex"
cask "ferdi"
cask "fig"
cask "mpv"
brew "ack"
brew "argon2"
brew "aria2"
brew "bat"
brew "berkeley-db", link: true
brew "bfg"
brew "boost"
brew "broot"
brew "caddy"
brew "cairo"
brew "ccat"
brew "coreutils"
brew "ctags"
brew "delta"
brew "dep"
brew "exa"
brew "fb303"
brew "fbthrift"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fizz"
brew "folly"
brew "fzf"
brew "fzy"
brew "gcc"
brew "gdb"
brew "gettext"
brew "gh"
brew "git-delta"
brew "git-filter-repo"
brew "git-flow"
brew "git-lfs"
brew "git-secret"
brew "glib"
brew "gnu-sed"
brew "gnupg", link: false
brew "gnutls"
brew "go"
brew "gobject-introspection"
brew "guile"
brew "harfbuzz"
brew "hashicorp/tap/terraform"
brew "htop"
brew "jq"
brew "krb5"
brew "lastpass-cli"
brew "lazygit"
brew "leptonica"
brew "libass"
brew "libbluray"
brew "libpq"
brew "librsvg"
brew "libssh2"
brew "little-cms2"
brew "llvm"
brew "lua"
brew "luarocks"
brew "mkcert"
brew "mono"
brew "mpv"
brew "mysql"
brew "ncdu"
brew "neovim"
brew "nghttp2"
brew "node-build"
brew "nodenv"
brew "openjdk@8"
brew "openssl@3"
brew "p11-kit"
brew "p7zip"
brew "pandoc"
brew "peco"
brew "perl"
brew "postgresql"
brew "pyenv-virtualenv"
brew "pyenv"
brew "python@3.10"
brew "readline"
brew "reattach-to-user-namespace"
brew "ren"
brew "ripgrep"
brew "ruby-build"
brew "ruby"
brew "sachaos/todoist/todoist"
brew "sdl"
brew "sdl2"
brew "shellcheck"
brew "sphinx-doc"
brew "starship"
brew "stylua"
brew "tesseract"
brew "tldr"
brew "tmux"
brew "trash"
brew "tree"
brew "unbound"
brew "vapoursynth"
brew "wangle"
brew "warrensbox/tap/tfswitch"
brew "watchman"
brew "webp"
brew "weechat"
brew "wget"
brew "wimlib"
brew "wireguard-tools"
brew "xz"
brew "yarn"
brew "zlib"
brew "zsh-completions"
brew "zsh"
