[edit]
  command = "nvim"

[diff]
  command = "delta"
  args = ["--side-by-side", "--line-numbers", "{{ .Destination }}", "{{ .Target }}"]
  pager = ""

{{- $email := promptString "What's your (git) email address?" "rai@rbutera.com" -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
  {{- $wsl := promptBool "Ubuntu detected. Is this a WSL installation?" -}}
{{ else }}
  {{- $wsl := false }}
{{end}}

[data]
  email = {{ $email | quote }}
  {{- if eq .chezmoi.osRelease.id "ubuntu" -}}
  wsl = {{ $wsl }}
  {{end}}

  
