#
# Executes commands at login pre-zshrc.
#

#
# Paths - set early so tools are available
#

# Homebrew/Linuxbrew
{{ if eq .chezmoi.os "darwin" }}
if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -f /usr/local/bin/brew ]]; then
  eval "$(/usr/local/bin/brew shellenv)"
fi
export PATH=/opt/homebrew/bin:$PATH
{{ else }}
if [[ -f /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -f $HOME/.linuxbrew/bin/brew ]]; then
  eval "$($HOME/.linuxbrew/bin/brew shellenv)"
fi
{{ end }}

# Tailscale
[[ -x /usr/local/bin/tailscale ]] && export PATH="/usr/local/bin:$PATH"

#
# Paths - additional
#

# Ensure path arrays do not contain duplicates
typeset -gU cdpath fpath mailpath path

path=(
  /usr/local/{bin,sbin}
  $path
)

[ -d "$HOME/.nodenv/bin" ] && path+=($HOME/.nodenv/bin)
[ -d "$HOME/.pyenv/bin" ] && path+=($HOME/.pyenv/bin)
[ -d "$HOME/.poetry/bin" ] && path+=($HOME/.poetry/bin)

#
# Less
#

if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

#
# FZF
#

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

#
# Misc
#

setopt NO_NOMATCH

{{ if eq .chezmoi.os "darwin" }}
# OrbStack
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{ end }}
