# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zprofile.pre.zsh" ]] && . "$HOME/.fig/shell/zprofile.pre.zsh"
#
# Executes commands at login pre-zshrc.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

#
# Browser
#

{{ if eq .chezmoi.os "darwin" }}
export BROWSER='open'
{{end}}

#
# Editors
#

export EDITOR='nvim'
export VISUAL='nvim'
export PAGER='less'
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

#
# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath mailpath path

# Set the list of directories that cd searches.
# cdpath=(
#   $cdpath
# )

# Set the list of directories that Zsh searches for programs.
path=(
  /usr/local/{bin,sbin}
  $path
)

#
# Less
#

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X to enable it.
export LESS='-g -i -M -R -S -w -X -z-4'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

export SPACESHIP_DIR_COLOR='yellow'
# export SPACESHIP_USER_COLOR='cyan'

{{- if eq .chezmoi.os "linux" }}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

export FZF_DEFAULT_OPTS="--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
{{ if .wsl }}
export LIBGL_ALWAYS_INDIRECT=1
export DISPLAY=$(awk '/nameserver / {print $2; exit}' /etc/resolv.conf 2>/dev/null):0
{{ end }}

[ -d "$HOME/.nodenv/bin" ] && path+=($HOME/.nodenv/bin)
[ -d "$HOME/.pyenv/bin" ] && path+=($HOME/.pyenv/bin)
[ -d "$HOME/go" ] && GOPATH=$HOME/go && path+=($GOROOT/bin:$GOPATH/bin)
[ -d "$HOME/.poetry/bin" ] && path+=($HOME/.poetry/bin)
export PATH

{{if eq .chezmoi.os "darwin" }}
# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zprofile.post.zsh" ]] && . "$HOME/.fig/shell/zprofile.post.zsh"
{{end}}

setopt NO_NOMATCH
