#
# Defines environment variables.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

export CAMOFOX_URL="http://localhost:9377"
export CAMOFOX_API_KEY={{ onepasswordRead "op://Private/Camofox API Key/credential" }}

export CLAUDE_API_KEY={{ onepasswordRead "op://Private/anthropic claude 3.5 api key/credential" }}
export FIRECRAWL_API_KEY={{ onepasswordRead "op://Private/firecrawl/credential"}}
export SUPERMEMORY_OPENCLAW_API_KEY={{ onepasswordRead "op://Private/supermemory api key/credential"}}
export GROQ_API_KEY={{ onepasswordRead "op://Private/groq whisper api key/credential"}}
export OPENCODE_ZEN_API_KEY={{ onepasswordRead "op://Private/OpenCode Zen/credential"}}
export OPENCODE_API_KEY={{ onepasswordRead "op://Private/OpenCode Zen/credential"}}
export CLAUDE_CODE_TOKEN={{ onepasswordRead "op://Private/claude code token/credential" }}
export TAILSCALE_NOCODB_CLIENT_ID={{ onepasswordRead "op://Private/tailscale nocodb oauth/username" }}
export TAILSCALE_NOCODB_CLIENT_SECRET={{ onepasswordRead "op://Private/tailscale nocodb oauth/credential" }}
export SUPERMEMORY_CC_API_KEY={{ onepasswordRead "op://Private/supermemory api key/claude" }}
export SUPERMEMORY_API_KEY={{ onepasswordRead "op://Private/supermemory api key/opencode"}}
export REED_API_KEY={{ onepasswordRead "op://Private/Reed API Key/credential" }}
export ADZUNA_APPLICATION_ID={{ onepasswordRead "op://Private/Adzuna API Key/username" }}
export ADZUNA_API_KEY={{ onepasswordRead "op://Private/Adzuna API Key/credential" }}
export ZAI_API_KEY={{ onepasswordRead "op://Private/Z.AI API KEY/credential" }}
export ANTHROPIC_CLAUDE_CODE_TOKEN={{ onepasswordRead "op://Private/Claude Code Token/credential" }}
export OPENCLAW_DISCORD_NAVI={{ onepasswordRead "op://Private/Navi Discord tokens/credential" }}
export OPENCLAW_DISCORD_HERMIONE={{ onepasswordRead "op://Private/Navi Discord tokens/hermione" }}
export OPENCLAW_DISCORD_ZELDA={{ onepasswordRead "op://Private/Navi Discord tokens/zelda" }}
export GITHUB_LLM_PAT={{ onepasswordRead "op://Private/github llm personal access token/credential" }}
export EXA_API_KEY={{ onepasswordRead "op://Private/EXA API Key/credential" }}
export GOG_KEYRING_PASSWORD={{ onepasswordRead "op://Private/GOG Keyring Password/credential"}}
