ack
aria2
bat
bfg-repo-cleaner
boost
broot
caddy
cairo
ctags
dep
exa
fb303
fbthrift
fd
findutils
fizz
folly
fzf
fzy
gettext
gnused
gh
git-delta
git-filter-repo
git-flow
git-lfs
git-secret
glib
glow
gnupg
gnutls
gobject-introspection
guile
harfbuzz
terraform
htop
httpie
jq
krb5
leptonica
libass
libbluray
libpq
librsvg
libssh2
lua
luarocks
mkcert
mono
ncdu
nodejs
openssl
p11-kit
p7zip
pandoc
peco
perl
postgresql
pyenv
readline
reattach-to-user-namespace
ren
ripgrep
todoist
sdl
SDL2
shellcheck
sphinx
starship
stylua
tesseract
tldr
tmux
trash-cli
tree
unbound
vapoursynth
wangle
tfswitch
watchman
libwebp
virtualenv
wget
wimlib
wireguard-tools
zlib
xz
yarn
zsh-completions
zsh

