tap "github/gh"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

{{ if eq .chezmoi.os "darwin" }}
brew "gnu-sed"
brew "coreutils"
brew "mpv"
brew "gcc"
brew "reattach-to-user-namespace"
{{end}}

# Core tools
brew "bat"
brew "eza"
brew "fd"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "htop"
brew "jq"
brew "ripgrep"
brew "starship"
brew "tldr"
brew "tmux"
brew "tree"
brew "wget"
brew "zsh"
brew "zsh-completions"

# Development
brew "findutils"
brew "gettext"
brew "gnupg"
brew "luarocks"
brew "openssl@3"
brew "readline"
brew "shellcheck"
brew "stylua"

# Optional/project-specific
brew "httpie"
brew "mkcert"
brew "ncdu"
brew "pandoc"
brew "postgresql"
