#!/bin/zsh
# install global node packages
source ~/.zshrc
source ~/.zprofile

{{ if eq .chezmoi.os "linux"}}
curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-installer | bash
curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-doctor | bash
{{end}}

{{ if eq .chezmoi.os "darwin"}}
brew install nodenv
curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-doctor | bash
{{end}}

{{ if .install_node }}
echo "Installing node.js and node.js packages"
echo "npm: using $(which npm)"
nodenv install 16.13.1
nodenv install 14.18.2
nodenv global 16.13.1
nodenv shell 16.13.1
npm install -g @nestjs/cli prettier eslint typescript xo markdownlint remark hicat ts-node prisma md2slack
{{ end }}

{{ if .install_python }}
  echo "Installing Python + Packages"
# install python build dependencies
{{ if eq .chezmoi.os "linux"}}
  echo "Linux detected. Installing Python build dependencies."
  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt-get update; sudo apt-get install -y make build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
  {{ else }}
sudo pacman -S --needed base-devel openssl zlib xz tk
  {{end}}
{{end}}
# install python stuff
pyenv install 3.10.4
pyenv global 3.10.4
echo "using $(which pip)"
echo "path is $PATH"
pip install autopep8 flake8 black click
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
brew uninstall glances
pip install --user 'glances[action,browser,cloud,cpuinfo,docker,export,folders,gpu,graph,ip,raid,snmp,web,wifi]'
{{ end }}
