#!/bin/zsh
brew bundle --file $HOME/Brewfile
$(brew --prefix)/opt/fzf/install

{{ if eq .chezmoi.os "darwin" -}}
  echo "MacOS detected"
{{ else if eq .chezmoi.os "linux" -}}
  PACKAGES="neovim fzf fzy ripgrep htop nodenv fd bat"
  LINUX_GUI_PACKAGES="ttf-google-fonts-git ttf-jetbrains-mono ttc-iosevka ttf-hack ttf-fira-mono ttf-fira-code ttf-ms-fonts ttf-vista-fonts noto-fonts nerd-fonts-jetbrains-mono kitty"
  echo "Installing $PACKAGES"
  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    echo "Ubuntu detected. Skipping GUI specific packages"
    sudo apt-get install -y $PACKAGES
  {{else}}
    echo "Arch Linux detected"
    echo "Installing LINUX_GUI_PACKAGES"
    sudo pacman -S --noconfirm $PACKAGES $LINUX_GUI_PACKAGES
  {{ end -}}
{{ end -}}
