#!/bin/bash

perform_install() {
  echo "Installing Rust via rustup..."
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  source "$HOME/.cargo/env"
  echo "Rust $(rustc --version) installed"
}

prompt_for_install() {
  read -p "Install Rust via rustup? (y/Y) " -n 1 -r
  echo
  if [[ $REPLY =~ ^[Yy]$ ]]; then
    perform_install
  else
    echo "Declined. Skipping"
  fi
}

prompt_for_install
