#!/bin/bash
echo "Installing Homebrew"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"


{{ if eq .chezmoi.os "linux" -}}
  echo "Linux detected. Installing zsh"

  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    sudo apt update
    {{- if .wsl -}}
    echo "installing x11-apps for WSL"
    sudo apt install x11-apps
    {{end}}
    sudo apt install zsh -y
  {{else}}
    echo "non-ubuntu based distro detected:"
    cat "/etc/os-release"
    echo "assuming arch linux..."
    sudo pacman -S --noconfirm zsh zsh-completions
  {{end}}
  echo "zsh has been installed at $(which zsh)"
{{ end -}}


# install zplug
curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh

# backup zsh files
backup_zsh_dotfiles() {
  echo "backing up zsh dotfiles..."
  mkdir -p ~/zsh_backup
  mv -v ~/.zlogin ~/zsh_backup/.zlogin
  mv -v ~/.zlogout ~/zsh_backup/.zlogout
  mv -v ~/.zpreztorc ~/zsh_backup/.zpreztorc
  mv -v ~/.zshrc ~/zsh_backup/.zshrc
  mv -v ~/.zprofile ~/zsh_backup/.zprofile
  mv -v ~/.zshenv ~/zsh_backup/.zshenv
  echo "finished backing up zsh dotfiles"
}
backup_zsh_dotfiles

# change shell to zsh
chsh -s /bin/zsh
