#!/bin/bash

link_1password() {
  echo "linking 1password"
  ln -s "~/Library/Group Containers/2BUA8C4S2C.com.1password/t" ~/.1password
  echo "linked 1password"
}

{{if eq .chezmoi.os "darwin"}}
link_1password
{{else}}
echo "linux detected - not linking 1password. already exists in home directory"
{{end}}
