#!/bin/zsh

install_brew_package () {
    read -p "Reinstall Homebrew Packages? (y/Y) " -n 1 -r
    echo    # (optional) move to a new line
    if [[ $REPLY =~ ^[Yy]$ ]]
    then
        source $HOME/.zprofile
        source $HOME/.zshrc
        rm -rf ~/raisbrewfile
        chezmoi execute-template < ~/.local/share/chezmoi/raisbrewfile.tmpl > ~/raisbrewfile
        brew bundle --file $HOME/raisbrewfile
        $(brew --prefix)/opt/fzf/install
        brew install --cask font-jetbrains-mono-nerd-font
    else
        echo
        echo "Declined. Skipping homebrew install"
    fi
}

{{ if eq .chezmoi.os "darwin" -}}
  echo "MacOS detected"
{{ else if eq .chezmoi.os "linux" -}}
    echo "Linux detected" 
{{ end -}}

install_brew_package

