#!/bin/zsh

# Specify the path to the package file
package_file="$HOME/nix-packages.txt"

install_nix () {
  curl -L https://nixos.org/nix/install | sh
}

install_nix_packages () {
    read -p "(Re)install Nix and Packages? (y/Y) " -n 1 -r
    echo    # (optional) move to a new line
    if [[ $REPLY =~ ^[Yy]$ ]]
    then
        source $HOME/.zprofile
        source $HOME/.zshrc
        rm -rf ~/nix-packages.txt
        chezmoi execute-template < ~/.local/share/chezmoi/nix-packages.txt.tmpl > ~/nix-packages.txt
        nix profile install github:peterldowns/nix-search-cli --refresh
        # Check if the package file exists
        if [[ ! -f "$package_file" ]]; then
            echo "Error: Package file $package_file not found."
            exit 1
        fi

        echo "Found nix packages file. Installing each package found"

        # Read each line from the package file and install the packages
        while IFS= read -r package || [[ -n "$package" ]]; do
            if [[ -n "$package" ]]; then
                echo "Installing package: $package"
                nix-env -iA "nixpkgs.$package"
            fi
        done < "$package_file"

        echo "All packages have been installed."
    else
        echo
        echo "Declined. Skipping nix packages"
    fi
}

{{ if eq .chezmoi.os "darwin" -}}
  echo "MacOS detected"
{{ else if eq .chezmoi.os "linux" -}}
    echo "Linux detected" 
{{ end -}}

install_nix_packages
