#!/bin/bash

cp -Rv ~/.config/nvim/lua/user/init.lua /tmp/init.lua
rm -rf ~/.config/nvim
git clone https://github.com/AstroNvim/AstroNvim ~/.config/nvim
mkdir -p ~/.config/nvim/lua/user
cp -Rv /tmp/init.lua ~/.config/nvim/lua/user/
nvim  --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
