#!/bin/zsh

install_zprezto() {
    if read -q "choice?Press Y/y if you want to reinstall zprezto and starship"; then
      rm -rf ~/.zprezto
      git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
      cd ~/.zprezto
      git clone --recurse-submodules https://github.com/belak/prezto-contrib contrib
      mkdir -p ~/.zprezto-contrib
      git clone https://github.com/agkozak/zsh-z.git ~/.zprezto-contrib/zsh-z
      curl -sS https://starship.rs/install.sh | sh
      source ~/.zshrc
    else
        echo
        echo "'$choice' not 'Y' or 'y'. Exiting..."
    fi
}

install_zprezto

