#!/bin/zsh
source $HOME/.zprofile
source $HOME/.zshrc

# cp -Rv ~/.local/share/chezmoi/Brewfile.tmpl $HOME/Brewfile
brew bundle --file $HOME/Brewfile
$(brew --prefix)/opt/fzf/install

{{ if eq .chezmoi.os "darwin" -}}
  echo "MacOS detected"
{{ else if eq .chezmoi.os "linux" -}}
  echo "Installing $PACKAGES"
  curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-installer | bash
  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    echo "Ubuntu detected. Skipping GUI specific packages"
    sudo apt-get install -y build-essential
    sudo apt-get install -y xclip keychain util-linux efitools binutils zlib1g openssh-client openssh-server
    {{else}}
    echo "Arch Linux detected"
    
    # install chaotic AUR
    echo "installing chaotic AUR"
    sudo pacman -S --noconfirm base-devel
    sudo pacman-key --recv-key FBA220DFC880C036 --keyserver keyserver.ubuntu.com
    sudo pacman-key --lsign-key FBA220DFC880C036
    sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'
    sudo touch /etc/pacman.conf
    cat <<EOT >> /etc/pacman.conf
[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist 
EOT
    echo "added chaotic mirrorlist to pacman.conf:"
    sudo cat /etc/pacman.conf

    # install yay
    echo "installing yay"
    sudo pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si
    echo "yay is now installed: $(which yay)"
    sudo yay -Y --gendb
    echo "Installing $LINUX_GUI_PACKAGES"
    sudo yay -S --noconfirm neovim fzf fzy ripgrep htop nodenv fd-find bat xclip openssh keychain util-linux efitools binutils ttf-google-fonts-git ttf-jetbrains-mono ttc-iosevka ttf-hack ttf-fira-mono ttf-fira-code ttf-ms-fonts ttf-vista-fonts noto-fonts nerd-fonts-jetbrains-mono kitty sbctl mmv zlib
    sudo yay -S --noconfirm visual-studio-code-bin visual-studio-code-insiders-bin
    {{ end -}}
{{ end -}}

nvim +PackerSync
