personality = "pragmatic"
model = "gpt-5.4"
model_reasoning_effort = "medium"
model_reasoning_summary = "auto"
approval_policy = "never"

[sandbox]
writable_roots = [{{ .chezmoi.homeDir | quote }}, "/tmp"]
network_access = true
[projects.{{ printf "%s/oc-pr" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/oclaw" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/dev/clarkecarpentry" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/.local/share/chezmoi" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/.config/nvim" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/.config/opencode" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/dev/lumiere" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[mcp_servers.github]
url = "https://api.githubcopilot.com/mcp/"
bearer_token_env_var = "GITHUB_LLM_PAT"

[mcp_servers.Sanity]
url = "https://mcp.sanity.io"
bearer_token_env_var = "SANITY_MCP_TOKEN"

[mcp_servers.context7]
command = "npx"
args = ["-y", "@upstash/context7-mcp@latest"]

[mcp_servers.open-websearch]
url = "http://localhost:3005/mcp"

[mcp_servers.mcp-deepwiki]
command = "npx"
args = ["-y", "mcp-deepwiki@latest"]

[mcp_servers.Playwright]
command = "npx"
args = ["-y", "@playwright/mcp@latest"]

[mcp_servers.serena]
command = "uvx"
args = [
  "--from",
  "git+https://github.com/oraios/serena",
  "serena",
  "start-mcp-server",
  "--context",
  "ide-assistant",
  "--enable-web-dashboard",
  "false",
]

[notice.model_migrations]
"gpt-5.3-codex" = "gpt-5.4"

[model_providers.zen]
name = "OpenCode Zen"
base_url = "https://opencode.ai/zen/v1"
env_key = "OPENCODE_ZEN_API_KEY"
wire_api = "responses"

[plugins."google-calendar@openai-curated"]
enabled = true

[plugins."gmail@openai-curated"]
enabled = true

[plugins."github@openai-curated"]
enabled = true

[plugins."google-drive@openai-curated"]
enabled = true
