{{- if eq .chezmoi.os "darwin" }}
{{- if stat "/Users/rai/.colima/ssh_config" }}
Include /Users/rai/.colima/ssh_config
{{- end }}
{{- if stat "/Users/rai/.orbstack/ssh/config" }}
Include ~/.orbstack/ssh/config
{{- end }}
{{- end }}

Host pidgey
 User rai
 HostName pidgey
 IdentityFile ~/.ssh/id_ed25519
 ForwardAgent yes

Host nimbus
  HostName nimbus
  User rai
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes

Host mondo
  HostName 100.111.98.78
  User rai
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes

Host lancelot
  HostName 100.73.34.7
  User rai
  IdentityFile ~/.ssh/id_ed25519
  IdentityAgent none
  ForwardAgent no

Host mew
  HostName mew
  User rai
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes

Host 100.84.231.100
 ForwardAgent yes
 IdentityFile ~/.ssh/id_ed25519

Host *
 IgnoreUnknown UseKeychain,AddKeysToAgent
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_ed25519

# GitLab.com
Host gitlab.com
 Preferredauthentications publickey
 IdentityFile ~/.ssh/id_ed25519

Host github.com
 IdentityFile ~/.ssh/id_ed25519
